.preview-cost-label {
    position: absolute;
    color: rgb(255, 128, 128);
    border-left-color: rgb(204, 153, 77);
    border-right-color: rgb(204, 153, 77);
    border-top-color: rgb(204, 153, 77);
    border-bottom-color: rgb(204, 153, 77);
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    background-color: rgba(0, 0, 0, 0.75);
}
