.topbar-root {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: rgba(0, 0, 0, 0.35);
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Fonts/Font/Kenney%20Future%20Narrow.ttf?fileID=12800000&guid=c4bbc2b151f7a754082a4e6f6d8ed32e&type=3#Kenney Future Narrow");
    font-size: 26px;
}

.topbar-box {
    background-color: rgba(67, 123, 154, 0.58);
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 32px;
    min-height: 32px;
    line-height: 32px;
    flex-shrink: 0;
    border-left-color: rgba(213, 213, 199, 0.51);
    border-right-color: rgba(213, 213, 199, 0.51);
    border-top-color: rgba(213, 213, 199, 0.51);
    border-bottom-color: rgba(213, 213, 199, 0.51);
    border-top-width: 1.5px;
    border-right-width: 1.5px;
    border-bottom-width: 1.5px;
    border-left-width: 1.5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.topbar-money {
    color: rgb(250, 235, 215);
    unity-font-style: bold;
    font-size: 26px;
    -unity-text-align: middle-left;
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Fonts/Font/Kenney%20Future%20Narrow.ttf?fileID=12800000&guid=c4bbc2b151f7a754082a4e6f6d8ed32e&type=3#Kenney Future Narrow");
}

.topbar-hourly {
    color: rgb(250, 235, 215);
    font-size: 26px;
    -unity-text-align: middle-left;
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Fonts/Font/Kenney%20Future%20Narrow.ttf?fileID=12800000&guid=c4bbc2b151f7a754082a4e6f6d8ed32e&type=3#Kenney Future Narrow");
}

.topbar-time {
    color: rgb(250, 235, 215);
    unity-font-style: bold;
    font-size: 26px;
    -unity-text-align: middle-left;
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Fonts/Font/Kenney%20Future%20Narrow.ttf?fileID=12800000&guid=c4bbc2b151f7a754082a4e6f6d8ed32e&type=3#Kenney Future Narrow");
}

.topbar-spent {
    color: rgb(181, 124, 124);
    font-size: 26px;
    -unity-text-align: middle-left;
    -unity-font-style: bold;
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Fonts/Font/Kenney%20Future%20Narrow.ttf?fileID=12800000&guid=c4bbc2b151f7a754082a4e6f6d8ed32e&type=3#Kenney Future Narrow");
}
