.world-hover-popup {
    position: absolute;
    background-color: rgba(35, 35, 40, 0.95);
    border-radius: 6px;
    border-width: 1px;
    border-color: rgba(212, 135, 77, 0.4);
    padding: 6px 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    /* smooth fade */
    opacity: 0;
    transition: opacity 0.15s ease-out;
}

.world-hover-popup.show {
    opacity: 1;
}

.world-hover-title {
    -unity-font-definition: url("project://database/Assets/Fonts/Kenney Future Narrow.ttf?fileID=12800000&guid=c4bbc2b151f7a754082a4e6f6d8ed32e&type=3#Kenney Future Narrow");
    font-size: 15px;
    color: rgb(240, 230, 211);
    margin-bottom: 2px;
}

.world-hover-cost {
    -unity-font-definition: url("project://database/Assets/Fonts/Kenney Future Narrow.ttf?fileID=12800000&guid=c4bbc2b151f7a754082a4e6f6d8ed32e&type=3#Kenney Future Narrow");
    font-size: 13px;
    color: rgb(160, 255, 200);
}

.world-hover-hourlyCost {
    -unity-font-definition: url("project://database/Assets/Fonts/Kenney Future Narrow.ttf?fileID=12800000&guid=c4bbc2b151f7a754082a4e6f6d8ed32e&type=3#Kenney Future Narrow");
    font-size: 13px;
    color: rgb(160, 255, 200);
}
