.hud-root {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.preview-cost-label {
background-color: rgba(35, 35, 40, 0.85);
    border-radius: 10px;
    border-width: 4px;
    border-color: rgba(212, 135, 77, 0.85);
    -unity-font-definition: url("project://database/Assets/Fonts/Kenney%20Future%20Narrow.ttf?fileID=12800000&guid=c4bbc2b151f7a754082a4e6f6d8ed32e&type=3#Kenney Future Narrow");
    font-size: 18px;
    color: rgb(240, 230, 211);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    position: absolute;
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
}
