.toast-label {
    font-size: 36px;
    -unity-text-align: upper-left;
    -unity-font-style: bold;
    color: rgb(204, 115, 115);
    -unity-text-outline-width: 1px;
    -unity-text-outline-color: rgba(44, 60, 90, 0.75);
    -unity-font-definition: url("project://database/Assets/Fonts/Kenney%20Future%20Narrow.ttf?fileID=12800000&guid=c4bbc2b151f7a754082a4e6f6d8ed32e&type=3#Kenney Future Narrow");
    letter-spacing: -6px;
    text-shadow: 0 0 2.6px rgba(0, 0, 0, 0);
}
