.toast-label {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: ;
    padding: 8px 16px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(204, 153, 77, 0.5);
    border-radius: 4px;
    color: rgb(204, 153, 77);
    font-size: 20px;
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Fonts/Font/Kenney%20Future%20Narrow.ttf?fileID=12800000&guid=c4bbc2b151f7a754082a4e6f6d8ed32e&type=3#Kenney Future Narrow");
    letter-spacing: -4px;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-left-color: rgb(215, 207, 153);
    border-right-color: rgb(215, 207, 153);
    border-top-color: rgb(215, 207, 153);
    border-bottom-color: rgb(215, 207, 153);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
